<div id="wrapper">
  <h1>Question.</h1>

  <div id="margin-top">
    <table>
      <% @question.each do | q1 | %>
      <tr>
        <% q1.each do | q2 | %>
        <% if q2 == "*" %>
        <td class="black"> </td>
        <% else %>
        <td id="question"> <%= q2 %> </td>
        <% end %>
        <% end %>
      </tr>
      <% end %>
    </table>
  </div>

  <div id="blockwrapper">
    <div class="blockleft">
      <h3>縦のカギ</h3>
      <% @hint_v.each do |no,text | %>
      <p> <%= no %> . <%= text %>  </p>
      <% end %>

    </div>
    <div class="blockright">
      <h3>横のカギ</h3>
      <% @hint_h.each do |no,text | %>
      <p> <%= no %> . <%= text %>  </p>
      <% end %>
    </div>
  </div>

  <div class="margin-top">
    <form>
      <button type="button" class="btn btn-primary" onclick="disp()">答えを表示</button>
    </form>
    <div id="disp">
      <table>
        <% @answer.each do | a1 | %>
        <tr>
          <% a1.each do | a2 | %>
          <% if a2 == "*" %>
          <td class="black"> </td>
          <% else %>
          <td id="answer"> <%= a2 %> </td>
          <% end %>
          <% end %>
        </tr>
        <% end %>
      </table>
    </div>
  </div>


</div>



<script>
function disp()
{
  document.getElementById("disp").style.display="block";
}
</script>
